.login-container {
  background-color: white;
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 5px white;
}

.login-title {
  margin-top: -40px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 900;
  color: rgb(49, 49, 49);
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 30px;
  color: rgb(49, 49, 49);
  font-size: 1.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding: 10px 15px;
  transition: 0.2s;
}

.ghost-round:hover {
  background: rgb(49, 49, 49);
  color: #fff;
  transition: 0.2s;
}

.google-g1,
.google-g2,
.google-o1,
.google-o2,
.google-l,
.google-e {
  font-weight: 500;
  transition: 0.1s;
}

.ghost-round:hover .google-g1 {
  color: #509cff;
}

.ghost-round:hover .google-o1 {
  color: red;
}

.ghost-round:hover .google-o2 {
  color: yellow;
}

.ghost-round:hover .google-g2 {
  color: #509cff;
}

.ghost-round:hover .google-l {
  color: green;
}

.ghost-round:hover .google-e {
  color: red;
}

body {
  background-color: rgb(39, 39, 39);
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homepage-container, .homepage-container-dark {
  display: flex;
  width: 74vw;
  height: 84vh;
  border-radius: 5px;
}

.homepage-left-part {
  width: 25%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(49, 49, 49);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.3s;
}

.left-part-title-plus-button {
  display: flex;
  justify-content: space-between;
  margin: 7% 7%;
  align-items: center;
}

.left-part-title-plus-button h2 {
  font-size: 20px;
  margin: 10px 0px;
}

.signout-button {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
}

.signout-button:hover {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  background-color: #509cff;
}

.left-part-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-part-user-info p {
  margin: 4px;
}

.logged-in-user {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.logged-in-username {
  font-weight: 500;
  font-size: 25px;
}

.logged-in-email {
  font-size: 19px;
}

.homepage-middle-and-right-part {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.middle-right-header {
  display: flex;
  align-items: center;
  height: 12%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(49, 49, 49);
  padding-left: 1.5vw;
  font-weight: bold;
  border-top-right-radius: 5px;
  transition: 0.4s;
}

.header-title {
  font-size: 20px;
}

.all-contacts {
  display: flex;
  justify-content: space-between;
  height: 88%;
  position: relative;
}

.homepage-middle-part {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-right: 1px solid rgb(49, 49, 49);
  transition: 0.4s;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 215, 215);
  border-radius: 10px;
}

.homepage-right-part {
  background-color: rgb(255, 255, 255);
  width: 350px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  color: red;
}

.contact-form-invisible {
  display: none;
}

.contact-input {
  height: 30px;
  width: 205px;
  margin-right: -24px;
  border-radius: 3px;
  padding: 0px 10px;
  outline: none;
  font-size: 17px;
  background-color: rgb(68, 68, 68);
  color: white;
}

.alert {
  position: absolute;
  bottom: -25px;
}

.contact-input::-moz-placeholder {
  color: white;
  font-size: 17px;
}

.contact-input:-ms-input-placeholder {
  color: white;
  font-size: 17px;
}

.contact-input::placeholder {
  color: white;
  font-size: 17px;
}

.submit-update-button {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  margin-right: 8px;
}

.submit-update-button:hover {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  background-color: #509cff;
}

.change-to-invisible {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  position: absolute;
  right: -24px;
  bottom: 0px;
  padding: 4.5px 10px;
  font-weight: bold;
  font-size: 17px;
  background-color: rgb(194, 20, 20);
}

.change-to-invisible:hover {
  background-color: rgb(226, 65, 65);
}

.added-contact {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-form-absolute {
  position: absolute;
  right: 2.3vw;
  top: 3vh;
}

.change-visibility-button {
  position: absolute;
  right: 1.5vw;
  top: -6.6vh;
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
}

.change-visibility-button:hover {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  background-color: #509cff;
}

.contact-img {
  width: 50px;
  height: 50px;
}

.name-job {
  width: 200px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 500;
  overflow-y: scroll;
}

.name-job::-webkit-scrollbar {
  height: 3px;
}

.job {
  font-size: 13px;
  font-weight: 100;
  overflow-y: scroll;
}

.job::-webkit-scrollbar {
  height: 3px;
}

.phone-number {
  width: 130px;
  overflow-y: scroll;
}

.phone-number::-webkit-scrollbar {
  height: 3px;
}

.email {
  width: 250px;
  overflow-y: scroll;
}

.email::-webkit-scrollbar {
  height: 3px;
}

.contact-buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.edit-button {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  position: absolute;
  right: 42px;
}

.edit-button:hover {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  background-color: #509cff;
}

.remove-button {
  background-color: #3283ec;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: white;
  font-weight: 900;
  transition: 0.2s;
  padding: 4.5px 10px;
  font-weight: bold;
  font-size: 17px;
  background-color: rgb(194, 20, 20);
  position: absolute;
  right: 10px;
}

.remove-button:hover {
  background-color: rgb(226, 65, 65);
}

.no-contact {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 22px;
  font-weight: 100;
}

.create-or-edit {
  display: flex;
  justify-content: center;
  margin-right: -24px;
  font-size: 22px;
  font-weight: 100;
  color: black;
  transition: 0.5s;
}

.dark-mode {
  padding: 10px 15px;
  position: absolute;
  bottom: 20px;
  background-color: rgb(215, 215, 215);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.dark-mode:hover {
  background-color: rgb(49, 49, 49);
  color: white;
}

.homepage-container-dark {
  color: rgb(255, 255, 255);
}

.homepage-container-dark .contact-input {
  color: black;
  background-color: rgb(255, 255, 255);
}

.homepage-container-dark .contact-input::-moz-placeholder {
  color: rgb(49, 49, 49);
  background-color: rgb(255, 255, 255);
}

.homepage-container-dark .contact-input:-ms-input-placeholder {
  color: rgb(49, 49, 49);
  background-color: rgb(255, 255, 255);
}

.homepage-container-dark .contact-input::placeholder {
  color: rgb(49, 49, 49);
  background-color: rgb(255, 255, 255);
}

.homepage-container-dark .homepage-left-part {
  background-color: rgb(49, 49, 49);
  border-right: 1px solid rgb(140, 140, 140);
}

.homepage-container-dark .homepage-middle-part {
  background-color: rgb(49, 49, 49);
  border-right: 1px solid rgb(140, 140, 140);
}

.homepage-container-dark .homepage-right-part {
  background-color: rgb(49, 49, 49);
}

.homepage-container-dark .create-or-edit {
  color: white;
}

.homepage-container-dark .middle-right-header {
  background-color: rgb(49, 49, 49);
  border-bottom: 1px solid rgb(140, 140, 140);
}

.homepage-container-dark .added-contact {
  border: 1px solid rgb(140, 140, 140);
}

.homepage-container-dark .dark-mode {
  background-color: rgb(30, 30, 30);
  color: white;
}

.homepage-container-dark .dark-mode:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.homepage-container-dark ::-webkit-scrollbar-track {
  background-color: none;
}

.homepage-container-dark ::-webkit-scrollbar-thumb {
  background-color: rgb(30, 30, 30);
}

.loading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: grey;
}

body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 2559px) {
  .name-job {
    font-size: 20px;
    width: 250px;
    margin-left: 40px;
  }
  .job {
    font-size: 15px;
  }
  .added-contact {
    height: 60px;
    font-size: 20px;
  }
  .phone-number {
    width: 250px;
  }
  .email {
    width: 300px;
  }
  .logged-in-user {
    width: 170px;
    height: 170px;
  }
  .logged-in-username {
    font-size: 35px;
  }
  .logged-in-email {
    font-size: 25px;
  }
  .left-part-title-plus-button h2 {
    font-size: 30px;
  }
  .signout-button {
    font-size: 20px;
  }
  .change-visibility-button {
    font-size: 20px;
  }
  .dark-mode {
    font-size: 20px;
  }
  .header-title {
    font-size: 30px;
  }
  .edit-button {
    font-size: 18px;
    right: 45px;
  }
  .remove-button {
    font-size: 23px;
  }
  .contact-img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1441px) {
  .left-part-title-plus-button h2 {
    font-size: 17px;
  }
  .signout-button {
    font-size: 12px;
  }
  .change-visibility-button {
    font-size: 12px;
  }
  .submit-update-button {
    font-size: 12px;
  }
  .change-to-invisible {
    font-size: 16px;
  }
  .contact-input {
    width: 180px;
    margin-right: -15px;
    font-size: 15px;
  }
  .contact-input::-moz-placeholder {
    font-size: 15px;
  }
  .contact-input:-ms-input-placeholder {
    font-size: 15px;
  }
  .contact-input::placeholder {
    font-size: 15px;
  }
  .create-or-edit {
    margin-right: -15px;
  }
  .logged-in-username {
    font-size: 22px;
  }
  .logged-in-email {
    font-size: 16px;
  }
  .contact-img {
    width: 40px;
    height: 40px;
  }
  .added-contact {
    font-size: 14px;
  }
  .name-job {
    font-size: 14px;
    width: 130px;
    overflow-y: scroll;
  }
  .job {
    font-size: 12px;
  }
  .phone-number {
    width: 90px;
  }
  .email {
    width: 125px;
  }
  .edit-button {
    font-size: 12px;
  }
  .remove-button {
    font-size: 16px;
  }
  .ghost-round {
    font-size: 20px;
  }
  .login-container {
    height: 20vh;
  }
}
@media screen and (max-width: 1024px) {
  .homepage-left-part {
    width: 170px;
  }
  .logged-in-username {
    font-size: 17px;
  }
  .logged-in-email {
    font-size: 11px;
  }
  .left-part-title-plus-button h2 {
    font-size: 13px;
  }
  .signout-button {
    font-size: 10px;
  }
  .change-visibility-button {
    font-size: 10px;
  }
  .header-title {
    font-size: 17px;
  }
  .homepage-right-part {
    width: 250px;
  }
  .contact-input {
    width: 130px;
    height: 25px;
    font-size: 12px;
  }
  .contact-input::-moz-placeholder {
    font-size: 12px;
  }
  .contact-input:-ms-input-placeholder {
    font-size: 12px;
  }
  .contact-input::placeholder {
    font-size: 12px;
  }
  .submit-update-button {
    width: 125px;
    font-size: 10px;
  }
  .change-to-invisible {
    right: -15px;
    font-size: 13px;
  }
  .create-or-edit {
    font-size: 15px;
  }
  .dark-mode {
    font-size: 11px;
  }
  .edit-button {
    font-size: 10px;
    right: 39px;
  }
  .remove-button {
    font-size: 13px;
  }
  .name-job {
    width: 90px;
    font-size: 12px;
    margin-left: 10px;
  }
  .job {
    font-size: 10px;
  }
  .phone-number {
    width: 70px;
  }
  .added-contact {
    font-size: 12px;
  }
  .email {
    width: 60px;
  }
}/*# sourceMappingURL=App.css.map */