@import "./styling/mixins-and-variables";
@import "./styling/login";
@import "./styling/homepage";
@import "./styling/dark-mode";

body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
